<section class="hero" id="hero">
  <div class="hero__left">
    <h1 class="hero__name">Javier Victoriano</h1>
    <h2 class="hero__subtitle">Desarrollador Fullstack</h2>
    <p class="hero__description">
        Hola! Soy Javier Victoriano, ingeniero civil en informática. Me especializo
        en desarrollo backend con Spring Boot, con experiencia previa en Laravel y
        .NET, y me muevo cómodo en el frontend con Angular y React para dar forma
        completa a mis proyectos.
    </p>
    <a href="#contact" class="hero__cta">Contacto</a>
  </div>

  <div class="hero__right">
    <div class="hero__floating-icon icon-1">
      <img src="/assets/icons/angular.svg" alt="Angular">
    </div>
    <div class="hero__floating-icon icon-2">
      <img src="assets/icons/spring.svg" alt="Spring Boot">
    </div>
    <div class="hero__floating-icon icon-3">
      <img src="assets/icons/node.svg" alt="Node.js">
    </div>
  </div>
</section>