@{
    ViewData["Title"] = "Javier Victoriano";
}
<div class="presentacion py-5">
    <div class="row">
        <div class="text-center col-lg-7 p-4 col-sm-12">
            <h1 class="display-4 text-color">Hola, soy Javier,</h1>
            <h1 class="main-color">Desarrollador Web</h1>
            <p class="text-color presentacion-text mx-auto">Soy un Ingeniero Civil en informática de la Universidad Católica de la Santísima Concepción con experiencia en el desarrollo full stack utilizando frameworks como ASP.NET CORE y Laravel</p>
            <div>
                <a href="https://www.linkedin.com/in/javier-victoriano/"><i class="fa fa-brands fa-linkedin text-white m-1 h2"></i></a>
                <a href="https://github.com/Javier-vic"><i class="fa fa-brands fa-github text-white m-1 h2"></i></a>
            </div>
        </div>
        <div class="col-5 presentacion-photos">
            <img src="/images/presentacion/photo-net.png" alt=".net photo" id="photo-net"/>
            <img src="/images/presentacion/photo-laravel.png" alt="laravel photo" id="photo-laravel" />
            <img src="/images/presentacion/photo-php.png" alt="php photo" id="photo-php" />
            <img src="/images/presentacion/photo-csharp.png" alt="c# photo" id="photo-csharp" />
            <img src="/images/presentacion/photo-js.png" alt="js photo" id="photo-js" />
        </div>
    </div>
    
</div>

