:root{
    --bg-color: #0D1117;
    --second-bg-color: #070A0D;
    --main-color: #CF1C1B;
    --text-color: #DAD6D6;
}

body, nav{
    background-color: var(--bg-color);
}

nav {
    border-bottom: 2px solid var(--main-color);
}

.fixed-nav {
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.navbar-brand, .main-color{
    color: var(--main-color) !important;
}

.navbar-brand:hover{
    color: var(--main-color);
    font-weight: bold;
}

.nav-link, .text-color{
    color: var(--text-color) !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color); 
}

.nav-link:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.presentation {
    background-color: var(--second-bg-color);
    height: 500px;
}

.presentation-text{
    max-width: 50%;
}

#photo-net{
    position: relative;
    top: 0%;
    left: -30%;
    width: 20%
}

#photo-laravel {
    position: relative;
    top: 80%;
    left: 25%;
    width: 35%
}

#photo-php {
    position: relative;
    top: 0%;
    left: 0%;
    width: 10%
}

#photo-js {
    position: relative;
    top: 15%;
    left: -60%;
    width: 10%
}

#photo-csharp {
    position: relative;
    top: 75%;
    left: -70%;
    width: 20%
}

.experience-card, .contact-card {
    border: 2px solid var(--main-color);
    border-radius: 25px;
    background-color: var(--second-bg-color);
}

.experience-button {
    border: 2px solid var(--main-color);
    background-color: var(--second-bg-color);
    padding: 4px;
    border-radius: 30% 30% 0 0;
    width: 10vw;
}

.experience-selected {
    background-color: var(--main-color);
    font-weight: bold;
    color: var(--text-color);
}

.project-card {
    background-color: var(--second-bg-color);
    box-shadow: 10px 5px var(--main-color);
    border-radius: 25px;
    height: 400px;
}

.project-photo{
    background-color: gray;   
}

.project-button {
    border: 2px solid var(--main-color);
    color: var(--text-color);
    padding: 4px;
    font-weight: bold;
    width: 100px;
}

.project-button:hover, .experience-button:hover  {
    background-color: var(--main-color);   
    color: var(--text-color);
}

.contact-icon:hover{
    color: var(--main-color);
}

.copy-notification {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}

.navbar-toggler-icon, navbar-toggler {
    color: var(--text-color) !important;
    background-color: var(--text-color);
    border-color: var(--text-color);
}
@media only screen and (max-width: 1800px) {
    #photo-net {
        position: relative;
        top: 0%;
        left: -10%;
        width: 30%
    }

    #photo-laravel {
        position: relative;
        top: 60%;
        left: 15%;
        width: 45%
    }

    #photo-php {
        position: relative;
        top: 0%;
        left: 0%;
        width: 15%
    }

    #photo-js {
        position: relative;
        top: -35%;
        left: 15%;
        width: 15%
    }

    #photo-csharp {
        position: relative;
        top: 5%;
        left: 5%;
        width: 30%
    }
}
@media only screen and (max-width: 992px) {
    #photo-net {
        position: relative;
        top: 0%;
        left: 75%;
        width: 15%
    }

    #photo-laravel {
        position: relative;
        top: 0%;
        left: 80%;
        width: 15%
    }

    #photo-php {
        position: relative;
        top: 0%;
        left: 85%;
        width: 15%
    }

    #photo-csharp {
        position: relative;
        top: 0%;
        left: 90%;
        width: 15%
    }

    #photo-js {
        position: relative;
        top: 0%;
        left: 95%;
        width: 15%
    }
}

